.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  align-items: center;
  padding: 0;
  margin: 0;   
     
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Questrial', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

