.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;  
  align-items: center;
  padding: 0;
  margin: 0;   
     
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: 'Questrial', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer {
  color: #555;
  font-size: 0.95rem;
  padding: 0;;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  z-index: 0;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 5);
}

.footer-links {
  margin-top: 1rem;
  font-size: 1.05rem;
}

/* === Links === */
.footer-links a {
  margin: 0 0.75rem;
  color: #007acc;
  text-decoration: none;
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: none;
  color: var(--accent-color);
}

