
@media (max-width: 599px) {
  .footer {
    padding: 0.5rem;
    font-size: 0.85rem;
    text-align: center;
  }

  .footer-links {
    font-size: 0.95rem;
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
   
  }

  .footer-links a {
    margin: 0;
  }
}